* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .container {
    max-width: 100vw;
    background-color: #FFF;
}

body, input, textarea, button, a {
    font: 400 18px 'Poppins', 'sans-serif';
    color: #4b4848;
}

.container header {
    width: 100%;
    height: 95vh;

    background: url("../images/hill.jpg") no-repeat center center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    letter-spacing: 3px;
}

.container header .logo {
    height: 150px;
    margin: 50px 0;
}

.container header .logo img {
    width: 100%;
    height: 100%;
}

.container header h1 {
    width: 900px;
    margin: 50px 0;

    font: 600 72px Poppins, sans-serif;
    text-align: center;

    color: #FFF;
}

.container header a {
    width: 330px;
    height: 60px;
    margin-bottom: 150px;

    transition: background-color .2s;

    background: #fff;
    border: none;
    box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.5);
    font: 600 22px Poppins, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.container header a:hover {
    background:rgba(185,233,247,.9);
}

.container main, .container footer {
    width: 100%;
}

.container main #content, footer .content {
    margin: 0 100px;
    color: #383838;
}

#content h2, .footer-text h2 {
    margin-top: 100px;
    font: 600 72px Poppins, sans-serif;
}

#content p, .footer-text p {
    font: 600 24px Poppins, sans-serif;
    margin: 5px 0 70px 0;
}

#content .images-box {
    width: 100%;
    margin: 30px 0;

    display: flex;
    gap: 30px;
}

#content .images-box .image-block {
    width: 100%;
    height: 500px;
    background-color: red;

    position: relative;
}

#content .images-box .image-block img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    filter: contrast(100%);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

#content .images-box .image-block.small {
    max-width: 510px;
    background-color: yellow;
}

#content .images-box .image-block .image-text {
    color: #FFF;
    position: absolute;
    top: 30px;
    left: 50px;
}

#content .images-box .image-block .image-text span {
    font: 600 72px Poppins, sans-serif;
}

#content .images-box .image-block .image-text p {
    font: 500 26px Poppins, sans-serif;
}

#content .images-box .image-block .image-text.mid {
    top: 180px;
}
#content .images-box .image-block .image-text.right {
    text-align: end;
    top: 30px;
    left: 450px;
}

footer {
    width: 100%;
    height: 85vh;
    background: #f4f2f1;
    margin-top: 16vh;

    display: flex;
}

footer .content {
    width: calc(100vw - 200px);
    position: relative;
}

footer .content .footer-text {
    position: absolute;
    width: 500px;
}

.content .grafics {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
}

.content .grafics .grafic-block {
    width: 100%;
    padding-bottom: 110px;

    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content .grafics .grafic-block .money {
    width: 100%;
    
    background:  #005499;
}

.content .grafics .grafic-block .money h3 {
    font: 700 42px Poppins, sans-serif;
    padding: 20px 0 0 20px;
}

.content .grafics .grafic-block .money p {
    font: 500 32px Poppins, sans-serif;
    padding: 0 0 20px 20px;
}

.content .grafics .grafic-block .details {
    width: 100%;
    background: #0088ed;

    display: flex;
    align-items: flex-end;

    font: 300 16px Poppins, sans-serif;
    padding: 20px;
}

.grid-1 { height: 15% }
.grid-2 { height: 25% }
.grid-3 { height: 35% }
.grid-4 { height: 45% }
.grid-5 { height: 55% }
.grid-6 { height: 65% }